/* stylesheet for fitness club wesite created by .... */

/* styles for the body of the pages */
body {
  background-color: #b34d4d;
}
#container{
  background-color: #b34d4d;
}
.row{
  display: inline;
}
.main{
  background-color: #000000;
}


/* styles for the main div containg the page information */
main {
  font-family: Verdana, Arial, sans-serif;
  text-align: justify;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1em;
 border-radius: 2em 0 2em 0;
  opacity: 0.85;
  background-color: #000000;
  color: #ffffff;
}

/* styles to have fluid images */
img {
  max-width: 100%;
  height: 7cm;
}



/* Clearfix (clear floats) */
.row::after {
  clear: both;
  display: table;
}
.column{
  display: none;
}

/* styles for the id = container */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* styles for the logo in the header div */
header {
  text-align: center;
  height: 3cm;
  background-color:#b34d4d;
}


/* styles for the nav bar containing the links */
nav {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  margin-top: -3.9em;
}

/* styles specifies the padding and margins of the unordered list in nav */
nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* styles for the li in nav */
nav li {
  background-color: #ffffff;
  border-radius: 2em;
  margin: 0.3em;
  padding: 0.4em;
  list-style-type: none;
}

/* styles for the anchor tags that are in nav li */
nav li a {
  color: #000000;
  text-decoration: none;
}

/* styles for the mobile class */
.mobile {
  display: inline;
}

/* styles for the desktop class */
.desktop1 {
  display: none;
}
.column {
  float: left;
  width: 33.3%;
  padding-left: 3em;
}


/* Clear floats after the columns */
.desktop1:after {
   display: table;
  clear: both;

}
.contact .desktop1:after{
  display: block;
}

/* styles for the main div containg the page information */
main {
  font-family: Verdana, Arial, sans-serif;
  text-align: justify;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1em;
 border-radius: 2em 0 2em 0;
  opacity: 0.85;
  background-color: #000000;
  color: #ffffff;
}
footer{
     text-align: center;
     padding-top:0.5em;
     background-color: transparent;
     opacity: 0.75;
     display: block;
     color:#ffffff;

      }
     
      footer:hover{
          opacity: 5;
      }



/*styles for the footer*/
 footer {
   height: auto;
  font-size: 0.7em;
  text-align: center;
  margin-top: 2em;
  color: #ffffff;
  background-color: #b34d4d;
}

/* styles for the tablet class */
.tablet {
  display: none;
}

/* styles for the equip class (e.g. images in the about page) */
.equip {
  display: none;
}

/* styles for anchor tags inside main element */
main a {
 
  color: #ffffff;
  font-weight: bold;
  padding: 0.5em;
  text-decoration: none;
}

/* styles for the aside element - nutrition page */
aside {
  font-style: italic;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

/*div.gallery img {
  width: 100%;
  height: auto;
}*/

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Media query for TABLET viewport target - minimum width: 480px */

@media only screen and (min-width: 688px) {
  /* styles specifies horizontal dispay for navigation links */
  nav li {
    display: block;
    float: left;
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;
  }

  /* styles for main */
  main {
    clear: left;
    margin-top: 4em;
    border-radius: 0;
    overflow: auto;
  }

  /* styles for h1 element */
  h1 {
    text-align: center;
  }

  

  
  /* styles for mobile class */
  .mobile {
    display: none;
  }

  /* styles for desktop */
  .desktop1 {
    display: inline;
  }

  /* styles for equip class */
  .equip {
    display: block;
    float: left;
    margin-right: 1.5em;
  }

  /* styles for unordered list (class items) */
  .items {
    display: block;
    list-style-position: inside;
    /* margin-bottom: 5em; */
  }

  /* styles for equipment titles (h1) */
  .title-equip {
    clear: left;
    padding-top: 0.5em;
  }

  /* styles for the tablet class */
  .tablet {
    display: block;
    /* margin-top: -3em; */
    margin-bottom: -1em;
  }

  /* styles for the description list terms */
  dt {
    font-weight: bold;
    margin-top: 0.7em;
  }

  
  

  /* styles for the heading h1 in the section element */
  section h1 {
    text-align: left;
    clear: left;
  }
  .responsive {
    width: 100%;
  }

  /* styles for the list items in nav */
  nav li {
    display:inline-block;
  margin-left: 80px;
    width: 10%;
    margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;
    color: maroon;
  }
  nav li a {
    display: inline-block;
    padding: 0.7em;
    text-shadow: 0.2em 0.1em antiquewhite;
  }
  nav li a:link {
    color: #ffffff;
  }
  nav li a:visited {
    color: darkgreen;
  }
  nav li a:hover {
    font-style: italic;
    color:black;
  }
  
 
 header h3{
   margin-left: 5em;
   padding-top: 0%;
   margin-top: 0%;
 }
 

}
  nav li {
      display:inline-block;
    margin-left: 80px;
      width: 10%;
      margin-right: 1%;
      padding-left: 0;
      padding-right: 0;
      white-space: nowrap;
      border-radius: 0;
      background-color: transparent;
      color: maroon;
    }
    nav li a {
      display: inline-block;
      padding: 0.7em;
      text-shadow: 0.2em 0.1em antiquewhite;
    }
    nav li a:link {
      color: #ffffff;
    }
    nav li a:visited {
      color: darkgreen;
    }
    nav li a:hover {
      font-style: italic;
      color:black;
    }
    
   
   header h3{
     margin-left: 5em;
     padding-top: 0%;
     margin-top: 0%;
   }
   
  
  }
 
  /* styles for the main */
  main {
    background-color: #000000;
  }

  /* styles for paragraphs inside main */
  main p {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .column {
    float: right;
    width: 50%;
  }
  section {
    color: #ffffff;
    margin-left: 1em;
    padding-bottom: 5em;
  }

  /* styles for anchor element in section element */
  section a {
    color: #ffffff;
  }

  /* styles for the paragraphs in the section element */
  section p {
    margin-left: 0;
  }

  /* styles for body giving gradients */
  body {
    background-color: #ffffff;
  }

  /* styles for images in figure element */
  figure img {
    height: 15em;
    opacity: 0.7;
  }

  /* styles to remove transparency on hover */
  figure img:hover {
    opacity: 1;
  }

  /* styles for h1 - giving white color */
  h1 {
    color: #ffffff;
  }

  /* styles for footer */
  footer {
    background-color: #b34d4d;
    margin-top: -0.2em;
    padding: 2em;
  }

  /* styles for the h2 element in the main - contact page */
  main h2 {
    color: #ffffff;
  }

  /* styles for the contact class */
  .contact {
    color: #ffffff;
  }

  /* styles for the h2 element in the article - nutrition page */
  article h2 {
    color: #000000;
  }

  /* styles for the paragraphs in article */
  article p {
    color: #000000;
  }
 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
} }

body {font-family: Arial, Helvetica, sans-serif;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color:#1c1c1c;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color:#b34d4d;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
  border-top: 50px solid #555;
}
.column{
  display: inline;
  
}

/* Clearfix (clear floats) */
.row::after {
  clear: both;
  display: table;
}
.responsive {
  width: 33.3%;
  padding: 20px;
}
header p{
  float: right;
  display: block;
    font-size: 2.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 0.2em;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    text-shadow: 0.2em solid #000000;
}